.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  color: var(--white);
  height: 100px;
  max-width: 940px;
  margin: 0 auto;
  height: calc(100vh - 180px);
}

.informacao {
  line-height: 1.5;
}
.informacao h1,
p {
  color: var(--black-900);
}
.informacao h2 {
  color: var(--green-600);
}

.projetos {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
.projetos h2 {
  color: var(--black-900);
  align-self: center;
}
.projetos button {
  align-self: end;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
