.container {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  max-width: 940px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  color: var(--gray-500);
}

.navBarContainer ul li:hover {
  color: var(--gray-200);
}

button {
  color: var(--white);
  background: var(--green-600);
  padding: 4px 8px;
  border-radius: 16px;
  border: 0;
}

button:hover {
  background: var(--green-300);
}

@media screen and (min-width: 768px) {
  nav {
    font-size: large;
  }

  button {
    padding: 8px 16px;
    font-size: large;
  }

  nav ul {
    gap: 3rem;
  }
}
